@use "../foundation/rem" as r;
@use "../foundation/color" as c;
@use "../foundation/mixin" as m;

.article-content {
    &:deep(h2) {
        font-size: clamp(r.f-rem(18), 2vw, r.f-rem(20));
        font-weight: 500;
        border-bottom: 2px solid c.$border;
        margin-bottom: 0.5rem;
    }
    &:deep(h3) {
        font-size: clamp(r.f-rem(16), 2vw, r.f-rem(18));
        font-weight: 500;
        margin-bottom: 0.5rem;
    }
    &:deep(p) {
        font-size: clamp(r.f-rem(14), 2vw, r.f-rem(16));
        font-weight: 300;
        text-align: left;
        margin-bottom: 0.5rem;
    }
    &:deep(a) {
        font-size: clamp(r.f-rem(14), 2vw, r.f-rem(16));
        text-decoration: underline;
    }
    &:deep(iframe) {
        width: 100%;
    }
    &:deep(strong) {
        width: 100%;
    }
}