@use "../foundation/rem" as r;
@use "../foundation/color" as c;
@use "../foundation/mixin" as m;

.article__content {
    h2 {
        font-size: clamp(r.f-rem(18), 2vw, r.f-rem(20));
        font-weight: 500;
        border-bottom: 2px solid c.$border;
        margin-bottom: 0.5rem;
    }
    h3 {
        font-size: clamp(r.f-rem(16), 2vw, r.f-rem(18));
        font-weight: 500;
        margin-bottom: 0.5rem;
    }
    p {
        font-size: clamp(r.f-rem(14), 2vw, r.f-rem(16));
        font-weight: 300;
        text-align: left;
        margin-bottom: 0.5rem;
    }
    a {
        font-size: clamp(r.f-rem(14), 2vw, r.f-rem(16));
        text-decoration: underline;
    }
    iframe {
        width: 100%;
    }
    code {
        border: 1px solid #ddd;
        border-radius: 3px;
        background-color: #fff;
        color: #ff357f;
        font-size: 85%;
        padding: 2px 4px;
        margin: 0 2px;
    }
    pre {
        background-color: #23241f;
        border-radius: 3px;
        color: #f8f8f2;
        overflow: visible;
        white-space: pre-wrap;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 5px 10px;
        code {
            background-color: transparent;
            border: none;
            color: white;
        }
    }
    blockquote {
        border-left: 4px solid #ccc;
        margin-bottom: 5px;
        margin-top: 5px;
        padding-left: 16px;
        span {
            font-size: clamp(r.f-rem(14), 2vw, r.f-rem(16));
        }
    }
    ol li {
        list-style-type: decimal;
        font-size: clamp(r.f-rem(14), 2vw, r.f-rem(16));
    }
    ul li {
        list-style-type: disc;
        font-size: clamp(r.f-rem(14), 2vw, r.f-rem(16));
    }
}